<table>
  <th>IP</th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th>Date</th>
  <% for(var i=0; i < access.length; i++) { %>
    <tr>
      <td>
        <%= access[i].ip %>
      </td>
      <td>

      </td>
      <td>
        <%= access[i].date %>
      </td>
    </tr>
    <% } %>
</table>