<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
</style>
<table>
  <thead>
    <tr>
      <th>IP</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < access.length; i++) { %>
      <tr>
        <td>
          <%= access[i].ip %>
        </td>
        <td>
          <%= access[i].date %>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>